body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.tail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
}

.error {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    margin: auto;
    border: 2px solid #3b3b3b;
    text-align: center;
}

h3 {
    margin-top: 0;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 16px;
}

#title-text {
    font-size: 24px;
}

#content-text {
    height: 560px;
}

label {
    padding-right: 5px;
}

a.button {
    font-size: 20px;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #969696;
    background-color: #bbbbbb;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:600;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.button:hover{
    color: #ffffff;
    background-color: #27bb27;
}

@media all and (max-width:30em){
    a.button {
        display:block;
        margin:0.4em auto;
        }
}