<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pastebin</title>
    <link rel="stylesheet" href="../frontend/styles.css">
    <script src="../frontend/actions.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Pastebin</h1>
    </div>
    <div class="content">
        <div>
            <label for="title-text">Title:</label>
            <textarea id="title-text" name="title-text" placeholder="Enter title here" rows="1">{{title}}</textarea>
        </div>
        <div>
            <label for="content-text">Text:</label>
            <textarea id="content-text" name="content-text" placeholder="Enter text here">{{text}}</textarea>
        </div>
        <div>
            <label for="password-text">Password:</label>
            <textarea id="password-text" name="password-text" placeholder="Enter password here" rows="1"></textarea>
        </div>
    </div>
    <div class="tail">
        <div>
            <a href="javascript:edit();" class="button">Edit</a>
        </div>
    </div>
</div>
</body>
</html>