<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pastebin</title>
    <link rel="stylesheet" href="../frontend/styles.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Pastebin</h1>
    </div>
    <div class="content">
        <label for="title-text">
            <textarea id="title-text" name="title-text" placeholder="Enter title here" rows="1" disabled="disabled">{{title}}</textarea>
        </label>
        <label for="content-text">
            <textarea id="content-text" name="content-text" placeholder="Enter text here" disabled="disabled">{{text}}</textarea>
        </label>
    </div>
</div>
</body>
</html>