<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Pastebin - error</title>
    <link rel="stylesheet" href="../frontend/styles.css">
</head>
<body>
    <div class="container">
        <div class="error">
            <h1>Error occurred</h1><br>
            <h3>{{description}}</h3>
        </div>
    </div>
</body>
</html>